<div class="d-flex align-items-center justify-content-center">
  <h1>New address</h1>
</div>
<br>

<div class="d-flex align-items-center justify-content-center">
  <%= link_to "Back to addresses", addresses_path(first_name: @address.firstName, middle_name: @address.middleName, last_name: @address.lastName), :class => "btn btn-primary" %>
</div>
<br>

<div class="d-flex align-items-center justify-content-center">
  <%= render "form", address: @address %>
</div>
