<div class="d-flex align-items-center justify-content-center">
  <h1>Add a New Person</h1>
</div>
<br/>

<div class="d-flex align-items-center justify-content-center">
  <form>
    <select class="form-select" aria-label="selectSalutation">
      <option selected>Select Salutation</option>
      <option value="Mr.">Mr.</option>
      <option value="Mrs.">Mrs.</option>
      <option value="Ms.">Ms.</option>
    </select>
    <div class="mb-3">
      <label for="inputFirstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="inputFirstName">
    </div>
    <div class="mb-3">
      <label for="inputMiddleName" class="form-label">Middle Name</label>
      <input type="text" class="form-control" id="inputMiddleName">
    </div>
    <div class="mb-3">
      <label for="inputLastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="inputLastName">
    </div>
    <div class="mb-3">
      <label for="inputSSN" class="form-label">SSN</label>
      <input type="number" class="form-control" id="inputSSN">
    </div>
    <div class="mb-3">
      <label for="inputBirthday" class="form-label">Birthday</label>
      <input type="date" class="form-control" id="inputBirthday">
    </div>
    <div class="mb-3">
      <label for="inputComment" class="form-label">Comment</label>
      <textarea class="form-control" id="inputComment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>