<div class="d-flex align-items-center justify-content-center">
  <h1>Address Book</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
  <%= button_to 'Add a new contact', 'newcontact', :class => "btn btn-primary", :method => :get %>
</div>